name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: ON
  CTEST_PARALLEL_LEVEL: 2

defaults:
  run:
    shell: bash -el {0}

jobs:
  Build:
    name: ${{ matrix.name }} (${{ matrix.config }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2022]
        config: [Release]
        include:
          - os: windows-2022
            name: Windows
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 10
          submodules: "recursive"

      - name: Setup NMake (Windows)
        if: runner.os == 'Windows'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Setup Conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          channels: conda-forge
          python-version: 3.11
          channel-priority: true
          activate-environment: test-env

      - name: Install Dependencies
        run: conda install numpy svgwrite cmake==3.28.0 git -y

      - name: Install Dependencies  (Windows)
        if: runner.os == 'Windows'
        run: conda install mpir -y

      - name: Envs (Windows)
        if: runner.os == 'Windows'
        run: echo "CMAKE_GENERATOR=NMake Makefiles" >> $GITHUB_ENV

      - name: Configure git
        run: git config --global http.version HTTP/1.1

      - name: Build (Debug)
        if: matrix.config == 'Debug'
        run: |
          python setup.py build --debug install

      - name: Build (Release)
        if: matrix.config == 'Release'
        run: python setup.py bdist_wheel
        
      - name: Upload Build Artifact
        if: always() 
        run: ls
        
      - name: Upload Build Artifact
        if: always() 
        uses: actions/upload-artifact@v4
        with:
          name: build-artifact-${{ matrix.name }}-${{ matrix.config }}
          path: dist/
